body{
    margin:0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: pink
}
.btn{
    padding: 15px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 2px 2px 2px pink;
    box-shadow: 2px 4px 8px black;
}
.btn:hover{
    background-color: orangered;
}
.container{
    text-align: center;
}
.container img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px black;
    width:300px;
    height: 300px;
}